{% extends 'base.html' %}
{% load static from staticfiles %} 

{% block page_title %}
<title>Post Form</title>
{% endblock page_title %}


{% block content %}

<div class='container'>
    
    <!-- Blog Form -->
    
    <form method='POST' enctype='multipart/form-data' class='create-post-form'>
        {% csrf_token %}
        
        {% for item in form %}
            {% if item.name == 'title' %}
            <label>{{item.label }}</label>
            {{ item }}
            {% endif%}
        {% if item.name == 'content'%}
            <label>{{item.label }}</label>
            {{ item }}
            {% endif %}
        {% if item.name == 'image'%}
                <div class='img-section'>
                    <label>{{item.label }}</label>
                    {{ item }}
                </div>
        {% endif %}
        
        {% endfor %}
        <button type='submit'>Save</button>
        
    </form>
</div>
{% endblock%}

{% block body_js %}
<script src="{% static 'js/blog.js' %}"></script>
{% endblock body_js %}