{% extends 'base.html' %} 
{% load static from staticfiles %} 

{% block page_title %}
<title>Blog Post</title>
{% endblock page_title %}


{% block content %}
<div class='blog-container'>
	
	<!-- Single Blog Post -->
	
	<section>
		{% if post.image %}
        <div class='blog-img'>
			<img src='/media/{{ post.image }}' alt=''>
		</div>
        {% endif %}
		<h1>{{ post.title }}</h1>
		<div class='part-post'>
			<p>
				{{ post.content }}

			</p>
			<div class='details'>
				<span>Views:</span><span>{{ post.views }}</span>
				<span>Published:</span><span class='date'>{{ post.published_date }}</span>
				
				{% if user.is_superuser or user.is_staff %}
				<div class='edit-post'>
					<a href='{% url "edit_post" post.id %}' >Edit Post</a></span>
				</div>
				{% endif %}
				
			</div>
		</div>
	</section>

</div>
{% endblock content %}

{% block body_js %}
<script src="{% static 'js/blog.js' %}"></script>
{% endblock body_js %}