{% extends 'base.html' %} {% load static from staticfiles %} {% block page_title %}
<title>Feature</title>
{% endblock page_title %} {% block content %}

<div class='single-feature-header'>
    <span class='feature-id' id='{{ feature.id }}'>Feature Name: </span> <span>{{ feature.feature_title }}</span>
</div>

<div class='single-feature-details'>
    <h2>Feature Details</h2>
    <p>{{ feature.details }}</p>
    <span>Suggested by: </span><span>{{username}}</span>
    <hr>
</div>

<div class='single-feature-section'>
    {% if feature.paid == False %}
    <div class='single-feature-payment'>
        <span><a href="{% url 'checkout' %}">Pay Now</a></span>
    </div>
    {% else %}
    <div class='single-feature-payment'>
        
    </div>
    {% endif %}
    
    <span class='feature-success-msg'>
        {% if in_cart and feature.paid == True %}
        Allready added to cart.
        {% endif %}
    </span>
    
    {% if feature.paid == False %}
    <div class='single-feature-add-to-cart'>
        
    </div>
    {% else %}
    <form method="post" action="{% url 'add_to_cart' feature.id %}">
        {% csrf_token %}
    <div class='single-feature-add-to-cart'>
        {% if not user.is_staff and not user.is_superuser %}
            {% if in_cart %}
            <button class="feature-submit-btn" type="submit" disabled>Add to cart</button>
            {% else %}
            <button class="feature-submit-btn" type="submit">Add to cart</button>
            {% endif %}
        {% endif %}
    </div>
    </form>
    {% endif %}
</div>

{% endblock content %} {% block body_js %}
<script src="{% static 'js/feature.js' %}"></script>
{% endblock body_js %}
