{% extends 'base.html' %} 
{% load static from staticfiles %}

{% block page_title %}
<title>Checkout</title>
{% endblock page_title%}

{% block head_js %}

<script  src="https://js.stripe.com/v2/"></script>
<script>
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>

{% endblock head_js %}


{% block content %}
<div class='checkout-header'>
    <div class='checkout-header-titles'>
        <span>ID</span>
        <span>Title</span>
        <span class='align-start'>Cost</span>
    </div>

    {% for item in cart_items %}
    <div class='checkout-item'>
        <span class='cart-item-id'>{{ item.feature.id }}</span>
        <span class='cart-item-name'>{{ item.feature.feature_title }}</span>
        <span class='align-start'><span>€</span>{{ item.feature.price }}</span>

    </div>

    {% endfor %}

    <hr>
    <div class='checkout-total'>
        <span class='checkout-label'>Total</span>
        <span>€</span>
        <span class='cart-amt'>{{total}}</span>
    </div>
</div>

<form  method="post" id="payment-form" action="{% url 'checkout' %}">
    <legend>Payment Details</legend>
    {% csrf_token %}
    <div id="credit-card-errors" style="display:none">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>

    <div class='form-box'>
        <div class="order-form">
            {{ order_form.as_p }}
        </div>

        <div class='payment-form-box'>
            <div class="payment-form">
                {{ payment_form.as_p }}
            </div>
        </div>

        <div class="checkout-submit">
            <input class="payment-form-submit" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        </div>

    </div>
</form>


{% endblock content %} {% block body_js %}
 <script src="{% static 'js/stripe.js' %}"></script> 
{% endblock body_js %}
