{% extends 'base.html' %} {% load static from staticfiles %} 

{% block page_title %}
<title>Home Page</title>
{% endblock page_title%} 

{% block content %}
<div class='container'>
    <div class='title-section'>
    	<h1>BUGS & FEATURES</h1>
    </div>
    <div class='content'>
    	<P>Found a bug on your site, report it in the BUGS section to get it sorted.</P>
    </div>
    <div class='content'>
    	<P>If your Website needs extra Features, go to the FEATURES section and suggest a feature to have it created for you and others.</P>
    </div>
</div>

{% endblock content %}

{% block body_js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock body_js %}