{% extends 'base.html' %}
{% load static from staticfiles %}

{% block page_title %}
<title>Register/Login</title>
{% endblock page_title %}



{% block content %}
<div class='container'>
	<!-- register/login tabs -->
	
	<div class='signup-login-header'>
		<ul>
			<li class='signup-tab sm'>REGISTER</li>
			<li class='login-tab'>LOGIN</li>
		</ul>
	</div>
	
	
	
	<div class='tab-page-holder'>
		
		<!-- form for login -->
		
		<div class='main-signup-page'>
			<div class='form-box-login'>
				<form method="POST" action='{% url "login" %}' class='login'>
					{% csrf_token %}
					{{ login_form.as_p }}
					<button type="submit">Login</button>
				</form>
			</div>
			
			<!-- form for register -->
			
			<div class='form-box-register'>
				<form method="POST" action='{% url "register" %}' class='register'>
					{% csrf_token %}
					{{ registration_form.as_p }}
					<button type="submit">Register</button>
				</form>
				
			</div>
		</div>
	</div>

</div>
{% endblock %}

{% block body_js %}
<script src="{% static 'js/registerLogin.js' %}"></script>
{% endblock body_js %}
