{% extends 'base.html' %} {% load static from staticfiles %} 

{% block page_title %}
<title>Cart</title>
{% endblock page_title%} 

{% block content %}
<div class='container'>
    <div class='cart-container'>
        <div class='cart-header-section'>
            <p>Items you wish to remove from cart, can be removed by clicking on the red X.</p>
            <p>Suggested features not yet paid for cannot be removed from cart.</p>
        </div>
        <div class='cart-header-titles'>
            <span>ID</span>
            <span>Title</span>
            <span class='align-start'>Cost</span>
        </div>
        {% for item in cart_items %}
        <div class='cart-item'>
            <span class='cart-item-id'>{{ item.feature.id }}</span>
            <span class='cart-item-name'>{{ item.feature.feature_title }}</span>
            <span class='align-start'><span>€</span>{{ item.feature.price }}</span>
            
            {% if item.feature.paid %}
           <form>
               {% csrf_token %}
                <span id='{{ item.feature.id }}' class='cart-remove'>X</span>
            </form>
            {% endif %}
        </div>
        
        {% endfor %}
        <hr>
        <div class='cart-total'>
            <span class='cart-label'>Total</span>
            <span>€</span>
            <span class='cart-amt'>{{total}}</span>
        </div>
        
        <div class='cart-checkout'>
            <a class='cart-checkout-btn' href="{% url 'checkout' %}" class="btn" role="button">Checkout</a>
        </div>
    </div>
</div>
{% endblock content %}

{% block body_js %}
<script src="{% static 'js/cart.js' %}"></script>
{% endblock body_js %}