{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% block page_title %}
		{% endblock page_title %}
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		
	</head>
	<body>
		
		<!-- header section -->
		<header>
			  <div class='title'>
				<span>Bugs & Features</span>
				
				<div id='burger'>
					<span class='burger'></span>
					<span class='burger'></span>
					<span class='burger'></span>
				</div>
				
			  </div>
			  
			  <!-- Nav section -->
			  
			  <nav>
				<ul>
					{% if user.is_authenticated %}
					<a href='{% url "index" %}'>
						<li>HOME</li>
					</a>
					{% if not user.is_staff and not user.is_superuser %}
					<a href='{% url "profile" %}'>
						<li>PROFILE</li>
					</a>
					{% endif %}
					<a href='{% url "bugs" %}'>
						<li>BUGS</li>
					</a>
					<a href='#'>
						<li>FEATURES</li>
					</a>
					<a href='{% url "get_posts" %}'>
						<li>BLOG</li>
					</a>
					{% else %}
					<a href='{% url "index" %}'>
						<li>HOME</li>
					</a>
					<a href='{% url "get_posts" %}'>
						<li>BLOG</li>
					</a>
					{% endif %} 
					
					{% if user.is_authenticated %}
					<a href='{% url "logout" %}'>
						<li>LOGOUT</li>
					</a>
					{% else %}
					<a href='{% url "register_login" %}'>
						<li>REGISTER/LOGIN</li>
					</a>
					{% endif %}
				</ul>
			</nav>
	
		  </header>
		  
		  <!-- flash message section -->
		  
		  {% if messages %}
			  <div class="alert alert-success">
				  <div class='message'>
					  {% for message in messages %}
						  <span {% if message.tags %} class="{{ message.tags }} type"{% endif %}>{{ message }}</span>
					  {% endfor %}
				  </div>
			  </div>
		  {% endif %}
		  
		  {% block content %} {% endblock %}
		  
		  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		  {% block body_js %}
		  {% endblock body_js %}
		  <script>
			setTimeout(function(){ $('.alert').remove();}, 6000)
		  </script>
	</body>
</html>